<footer>
  <div class="footerDiv">
    <div class="listSection">
      <h5 class="title">ABOUT</h5>
      <ul class="listItems">
        <li><a href="">Contact Us</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Buyhere Stories</a></li>
        <li><a href="">Press</a></li>
      </ul>
    </div>
    <div class="listSection">
      <h5 class="title">HELP</h5>
      <ul class="listItems">
        <li><a href="">Payments</a></li>
        <li><a href="">Shipping</a></li>
        <li><a href="">Cancellation & Returns</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Returns</a></li>
        <li><a href="">Report</a></li>
      </ul>
    </div>
    <div class="listSection">
      <h5 class="title">POLICY</h5>
      <ul class="listItems">
        <li><a href="">Return Policy</a></li>
        <li><a href="">Terms Of Use</a></li>
        <li><a href="">Security</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Sitemap</a></li>
        <li><a href="">EPR Compliance</a></li>
      </ul>
    </div>
    <div class="listSection">
      <h5 class="title">SOCIAL</h5>
      <ul class="listItems">
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">YouTube</a></li>
        <li><a href="">Google Plus</a></li>
      </ul>
    </div>
    <div class="separator"></div>
    <div class="listSection">
      <h5 class="title">Mail Us:</h5>
      <p class="address">
          Shophere Internet Pvt Ltd Block B (XYZ)
          Lorem ipsum dolor sit amet, consectetur,
          adipiscing elit. Integer at sapien sed ante,
          rhoncus egestas. Curabitur lobortis,
          venenatis mi sit amet scelerisque.
      </p>
    </div>
    <div class="listSection">
      <h5 class="title">Registered Office Address:</h5>
      <p class="address">
          Shophere Internet Pvt Ltd Block B (XYZ)
          Lorem ipsum dolor sit amet, consectetur,
          adipiscing elit. Integer at sapien sed ante,
          rhoncus egestas. Curabitur lobortis,
          venenatis mi sit amet scelerisque.
      </p>
    </div>
  </div>
</footer>
