<div class="mainContainer">
  <h1 class="mission">-Our Mission-</h1>
  <p>To provide the best solution in market</p>
  <h1 class="about">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae tortor erat. Proin imperdiet nisi sit amet nibh finibus bibendum faucibus et justo. Cras neque arcu, faucibus id euismod ac, condimentum at lacus. Donec mattis urna sit amet elementum accumsan. Integer consequat elementum laoreet. Pellentesque pellentesque id mi vel consectetur. Aenean rutrum justo ac urna placerat, vel aliquam mauris tempor. Nam eu aliquam augue. Mauris efficitur felis ac arcu rhoncus scelerisque. In fringilla sem quis interdum imperdiet. Ut magna eros, congue vitae interdum non, ultricies nec erat. Maecenas interdum nunc nulla, eu maximus felis lobortis nec. Aenean dapibus rutrum lorem nec ornare.

        Ut orci arcu, cursus quis dolor non, laoreet rutrum diam. Donec id lacus vel augue condimentum ultricies a vel libero. Fusce arcu sapien, dignissim nec malesuada sed, efficitur eget est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lorem arcu, tempus non rutrum a, laoreet eget ipsum. Aliquam dignissim mattis augue, sed lacinia mi volutpat eget. Donec faucibus ultricies enim, vitae viverra tortor lacinia at.
    </p>
</div>
